
html,body {
    font-family: 'Raleway', sans-serif;
}
b{
    font-family: 'Arial';
}
.navbar-brand
{
    margin: 0;
    padding: 0;
}

.navbar-brand img
{
    max-height: 100%;
}
.navbar-default{
    background-color: #696969	;
    border-color: #696969;

}
.navitem:hover{
    background-color:#f2f2f2;
}
.softwareSampleImage{
        height: 120px;
    width: 400px;
}
.aku {

    transition: all .2s ease-in-out; 
}

.aku:hover {
    transform: scale(1.1);
    cursor:pointer;
}

.textBlock{
    padding: 10px;
    border-radius: 10px;
    background-color: #e6e6e6;
}
.modalimg{
    height: 100%;
    width: auto;
}